%block-relative {
  display: block;
  position: relative;
}

%default-h1 {
  width: max-content;
  font-size: 2.25rem;
  line-height: 1.3;
  letter-spacing: 0.5rem;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
}
