$black: rgb(34, 39, 46);

$white: #d3dbe3;

$link-white-hover: rgba(255, 255, 255, 0.1);
$link-white-active: rgba(255, 255, 255, 0.2);

$black-opaque: rgba(27, 31, 34, 0.85);

$blue: rgb(83, 155, 245);
$dark-blue-opaque: rgba(65, 132, 228, 0.1);



$page-margin: 3em;
$h-font-weight: 600;
$h-margin: 0 0 1em 0;
$p-margin: 0 0 2rem 0;

$border-width: 2px;
$border-radius: 4px;



$screen-biggest-width-max: 1680px;
$screen-bigger-width-max: 1280px;
$screen-big-width-max: 960px;
$screen-small-width-max: 736px;
$screen-smaller-width-max: 480px;
$screen-smallest-width-max: 360px;

$screen-biggest-width-min: 1681px;
$screen-bigger-width-min: 1281px;
$screen-big-width-min: 961px;
$screen-small-width-min: 737px;
$screen-smaller-width-min: 481px;
$screen-smallest-width-min: 361px;
